*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 700px;
    margin: 0 auto;
}

#header{
    background-color: black;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
}

#feed{
    text-align: center;
    margin-bottom: 15px;
}

#row{
    display: flex;
}

#col{
    flex: 1;
    margin-right: 25px;
}

#avatar{
    border: 2px solid black;
    padding: 20px;
    text-align: center;
}

#user{
    height: 100px;
    margin: 20px;
}

#col p{
    margin: 20px;
}

#col-2{
    flex: 2;
}

.message{
    border: 2px solid black;
    margin-bottom: 10px;
    padding: 25px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 35px;
    margin-bottom: 10px;
}

.btn{
    margin-left: 15px;
    background-color: gold;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    padding: 7px 15px;
    cursor: pointer;
}

a{
    color: royalblue;
}